/*-background-image--------------------------------------------------------------------------------------------------------------------------------*/

body{
	margin: 0;
	overflow-x: hidden; 
	background-color: #e9fce6; 
}

#intdisplay{
	background-image: url('../images/Lounge.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: static;
	background-size: cover;
}


/*-header-bar--------------------------------------------------------------------------------------------------------------------------------*/

#headerbar{
	background-color: rgba(36, 170, 26, 0.9);
	overflow: hidden;
	padding: 0.6vw;
}

#logo{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	float: left;

}
#TOLbutton{
	text-decoration: none;
	color: white;
	font-size: 1.65vw;
	float: left;
	text-align: center;
	padding: 1.5vw 1.4vw;
	text-decoration: none;
	font-family: gill sans, sans-serif;
	font-weight: bolder;
	letter-spacing: 0.15vw;
}
.buttons{
	text-decoration: none;
	color: white;
	font-size: 1.4vw;
	float: right;
	text-align: center;
	padding: 1.6vw 1.5vw;
	text-decoration: none;
	font-family: Arial;
	font-weight: bolder;
}
	
a.buttons:hover{
	background-color: rgba(255,255,255,0.11);
}

#rectangle1 {
	height: 80px;
	border-color: #24AA1A;
	background-color: #24AA1A;
	margin: 0;
}


/*-on-top-of-bg-image--------------------------------------------------------------------------------------------------------------------------------*/

.h1{
	font-family: rockwell, serif;
	text-align: center;
	color: white;
	font-size: 4vw;
	text-align: center;
	fon/*-footer---------------------------------------------------------------------------------------------------------------------------------*/

/*-Provided Equipments List---------------------------------------------------------------------------------------------------------------------------------*/

.equipments{
	background-color: rgba(25, 111, 1, 0.9);
	text-align: center;
	font-family: candara;
	font-size: 1.2vw;
	padding: 1vw;
	color: rgba(255, 255, 255, 0.9);
	line-height: 2vw;
}
.equipments span{
	font-size: 1.9vw;
	font-weight: 550;
}

/*-Function Halls---------------------------------------------------------------------------------------------------------------------------------*/

.FunctionHalls{
	position:relative;
	background-color: rgba(36, 170, 26, 0.95);
	padding-bottom: 2.5vw;
}

.FunctionHallsBody{
	overflow: hidden;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.7vw;
	line-height: 1.5;
	font-weight: 500;
	font-family: candara;
	z-index: -99;
}
.FunctionHallsBody h1{
	font-size: 2.9vw;
	line-height: 1.2vw;
}

.FunctionHallsBody span{
	font-size: 2vw;
	font-weight: 600;
}

#MedHallBody {
	width: 50%;
	float: left;
}
#BigHallBody{
	width: 50%;
	float: right;
}

.FunctionHallsImg{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75vw 0;
}
.FunctionHallsImg img{ 
	width: 49vw;
	transition: 1.7s 0.3s;
	transition-timing-function: ease-in-out;
	margin: 0;
	z-index: 1;
	border: 0.13vw ridge lightgrey;
}
#MedHall{
	position: relative;
	left: 0;
}
#BigHall{
	position: relative;
	right: -1vw;
}
#MedHall:hover{
	transform:translate(50vw);
	float: left;
	z-index: 99;
}
#BigHall:hover{
	transform: translate(-50vw);
	float: right;
	z-index: 99;
}

/*-Contact Us Button---------------------------------------------------------------------------------------------------------------------------------*/

#buttonbg{
	width: 100%;
	background-color: rgba(36, 170, 26, 0.95);
	padding: 3.3vw 0;
}
button{
	background-color: white;
	border-color: white;
}
button > a{
	font-family: candara;
	color: #24AA1A;
	font-size: 1.8vw;
	text-decoration: none;
	padding: 0.3vw;
}

 
footer{
	background-color: #24AA1A;
	margin-bottom: 0;
	padding-bottom: 6vw;
	color: white;
	letter-spacing: 0.15vw;
}

.column{
	font-family: 'Lucida', monospace;
	font-size: 1.1vw;
	overflow: hidden;
	font-weight: 500;
	float: left;
	text-align: center;
	line-height: 1.5vw;
}

.left{
	width: 35%;
}

.left img{
	width: 30%;
	height: 30%;
	position: relative;
	left: 50%;
	border-radius: 50%;
	float: left;
}

.middle{
	width: 30%;
}
.middle span{
	font-size: 1.8vw;
	font-weight: 600;
	
}

.right1{
	width: 6%;
	height: 1px;
}
.right2{
	width: 11%;
	height: 1px;
}
.rightmid{
	width: 6%;
}
	
.FBIcon{
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: url('../images/socmed_spritesheet.png') no-repeat 0px 0px;
}
.YTIcon{
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: url('../images/socmed_spritesheet.png') no-repeat 0px -120px;
}
.InstaIcon{
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: url('../images/socmed_spritesheet.png') no-repeat 0px -60px;
}

.FBIcon:hover {
	background: url('../images/socmed_spritesheet.png') no-repeat -60px -120px;
}
.YTIcon:hover{
	background: url('../images/socmed_spritesheet.png') no-repeat -60px 0px;
}
.InstaIcon:hover {
	background: url('../images/socmed_spritesheet.png') no-repeat -60px -60px;
}

footer:after{
	content: "";
	display: table;
	clear: both;
}




